.footer{
	background: url(../img/bg-footer.jpg) no-repeat;
	background-size: cover;
.container{
	padding: 3.5rem 4.5rem 2.5rem 4.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
.link-footer{
	margin: 0 2rem 1rem 2rem;
&:hover{
	opacity: 0.8;
}
}
}
}