.top-block{
	background: #47a226;
.container{
	position: relative;
	padding: 1.7rem 1.7rem 3.5rem 1.7rem;
	text-transform: uppercase;
	z-index: 3;
.logo{
	margin-bottom: 1rem;
}
h1{
	font-size: 1.25rem;	
	border-radius: 2.5rem;
	background: #368719;
	padding: 0.75rem 0 0.75rem 1.85rem;
	letter-spacing: 0.5rem;
	margin-bottom: 2.9rem;
}
h2{
	font-size: 2.4rem;
	max-width: 45%;
	line-height: 1;
	z-index: 3;
	position: relative;
}
h3{
	max-width: 45%;
	margin-bottom: 3rem;
	color: #e0ff99;
	font: 2.05rem $font-text2;
	z-index: 3;
	position: relative;
}
.enhance-link{
	color: #47a226;
	background: #fff;
	padding-left: 5.4rem; 
	padding-right: 5.4rem;
	z-index: 3;
	position: relative;
	max-height: 3.65rem;
	border: 0.15rem solid transparent;
&:hover{
	background: #47a226;
	color: #fff;
	border: 0.15rem solid #fff;
}
}
}
}
.phone{
	position: absolute;
	top: 2.85rem;
	right: 4.5rem;
.img-frame{
	position: relative;
	width: 18.85rem;
	height: 37.6rem;
}
.bg-fon{
	position: absolute;
    overflow: hidden;
    width: 18rem;
    text-align: center;
    height: 38.6rem;
    border-radius: 3rem;
    padding-left: 0.5rem;
    top: 0;
    padding-top: 1rem;
 img{
 	width: 92%;
 }
}
.bg-top{
	position: absolute;
    top: 2rem;
    right: 2rem;
}
}